td {
	text-align: left;
	vertical-align: top;
	font-family:sans-serif, verdana, arial, helvetica;
	font-size:14px;
	color:#806C59;
}

form
{
	margin:0px;
	color:#FFFFFF;
}

a {
	font-family:sans-serif, verdana, arial, helvetica;
	font-size:16px;
	text-decoration: none;
	font-weight: bold;
	color:#002449;
}

A:Hover  {
	text-decoration : underline;
}

H1 {
	color: #002449;
	font-weight: bold;
	font-size : 18px;
}
